* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter Tight', sans-serif;
}

body {
    background: #F0F0F6
}


/* container */


.container {
    width: 80%;
    margin: auto;
    background: #F0F0F6
}

/* section home */



.home {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-home {
    margin-left: 20px;
}

.left-home h1 {
    font-family: 'Inter Tight', sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 123.6%;
    color: #2B2B2B;
    letter-spacing: 2px;
}

.span-h1 {
    color: #FFB400;
}


.left-home p {
    width: 550px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-transform: capitalize;
    font-feature-settings: 'calt'off, 'kern'off;
    color: #767676;
}

header {
    background-image: url(img/back-header.jpeg);
    height: 70vh;
}

header button {
    padding: 16px 32px;
    gap: 10px;
    width: 154px;
    background: #FFB400;
    border-radius: 5px;
    margin-top: 50px;
    border: none;
    cursor: pointer;
    font-weight: 600;
}

header button::after {
    content: "";
}

/* media header */

@media only screen and (max-width:767px) {
    .home {
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
    }

    header button {
        text-align: center;
    }

    header {
        width: 100%;
    }

    .left-home p {
        margin: 10px 0;
    }

}


/* services section */

.text-1 {
    width: 438px;
    margin: auto;
    text-align: center;
    margin-top: 69px;
}

.text-1 h2 {
    font-size: 42px;
    letter-spacing: 1px;
    margin-bottom: 25px;
}

.text-1 p {
    color: #767676;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 1px;
    margin-bottom: 25px;

}

.card-parent {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.card-1 {
    background: #FFFFFF;
    width: 310px;
    height: 270px;
    left: 450px;
    top: 719px;
    text-align: center;
    padding: 20px;
}

.card-1 img {
    margin-bottom: 33PX;
    background-image: none;
}

.card-1 p {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 15px;
    text-transform: capitalize;
}

.card-1 span {
    color: #767676;
    margin: 10px 0;
}

.p-card-6 {
    margin-top: 20px;
    letter-spacing: 1px;
}

.span-card6 {
    width: 250px;
    text-align: center;
    margin-top: 22px;
    color: #767676;
    letter-spacing: 1px;
}

.link-card6 {
    margin-top: 12px !important;
    margin-bottom: 12px;
    color: #FFB400;
    text-decoration: none;
    font-weight: 600;
}

.link-card6::after {
    content: ">";
    margin-left: 5px;
    font-size: 15px;
}


/* media services */

@media only screen and (max-width:767px) {
    .card-parent {
        display: flex;
        flex-direction: column;
    }

    .card-1 {
        width: 100%;
    }

    .span-card6 {
        margin-left: 50px;
    }
}


@media (min-width:768px) and (max-width:1023px) {
    .card-parent {
        display: flex;
        flex-wrap: wrap;
    }

    .card-1 {}
}

/* portfolio section */

.box-img {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}


/* media portfolio */

@media only screen and (max-width:767px) {
    .box-img {
        display: flex;
        flex-direction: column;
    }

}


@media (min-width:768px) and (max-width:1023) {
    .box-img {
        display: flex;
        flex-wrap: wrap;
    }
}


/* contect section */


.contact {
    display: flex;
    justify-content: space-between;
}

.left-contact {
    background: #FFFFFF;
    padding: 20px;
    margin-right: 40px;
}


.left-contact button {
    padding: 8px 16px;
    margin: 20px 0;
    background: #FFB400;
    border: none;
    font-family: 'Inter Tight', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #2B2B2B;
}


label {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 123.6%;
    text-transform: capitalize;
    color: #767676;

}

input {
    width: 100%;
    height: 50px;
    left: 145px;
    top: 2627px;
    background: #F0F0F6;
    border: none;
    margin: 15px 0;
}

textarea {
    border: none;
    background: #F0F0F6;
    width: 521px;
    height: 210px;
    left: 145px;
    top: 2942px;
}

.text-4 {
    display: flex;
    justify-content: space-between;
    font-family: 'Inter Tight', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 123.6%;
    text-transform: capitalize;
    color: #2B2B2B;
    margin: 30px 0;
}


.right-contect {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.div-contact-1 {
    background: #FFFFFF;
    padding: 30px;
    width: 370px;
    height: 210px;
    color: #767676;

}

.div-spann {
    display: flex;
    justify-content: space-between;
}

.div-spann span {
    margin: 15px 0;
}

.img-contact {
    margin-left: 50%;
    padding: 10px 0;

}

.img-upper-footer {
    display: flex;
    flex-wrap: wrap;
}

/* upper footer */

.img-upper-footer {
    display: flex;
    justify-content: space-between;
    width: 62%;
    margin: auto;
}


/* footer */

footer {
    padding: 20px;
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
}


/* media contact */

@media only screen and (max-width:767px) {
    .contact {
        display: flex;
        flex-direction: column;
    }

    .right-contect {
        width: 100%;
        margin-top: 20px;
    }

    .left-contact {
        width: 100%;
    }

    .div-contact-1 {
        width: 100%;
    }

    .p-content4 {
        display: none;
    }

    footer {
        width: 100%;
    }

    input {
        width: 95%;
    }

    textarea {
        width: 95%;
    }
}

@media(max-width:1200px) {
    .contact {
        display: flex;
        flex-direction: column;
    }

    .left-contact {
        width: 100%;
    }

    .right-contect {
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;
    }

    .div-contact-1 {
        width: 100%;
    }

    textarea {
        width: 100%;
    }
}


/* media font to full web page */

@media (max-width:567px) {
    .home {
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
        width: 100%;
    }

    header button {
        text-align: center;
    }

    header {
        width: 100%;
    }

    .left-home h1 {
        font-family: 'Inter Tight', sans-serif;
        font-weight: 700;
        font-size: 25px;
        color: #2B2B2B;
    }

    .left-home p {
        width: 385px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        text-transform: capitalize;
        color: #767676;
    }

    .card-parent {
        display: flex;
        flex-direction: column;
    }

    .card-1 {
        width: 100%;
    }

    .text-1 {
        width: 100%;
        text-align: center;
    }

    .text-1 p {
        width: 365px;
        text-align: center;
        font-size: 17px;
    }

    .text-1 h1 {
        font-size: 17px;
        text-align: center;
    }

    header button {
        padding: 8px 16px;
    }

    .container {
        width: 90%;
        margin: auto;
        background: #F0F0F6
    }

    .text-1 h2 {
        text-align: center;
        font-size: 30px;
    }

    .img-upper-footer {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        width: 100%;
    }

    .right-home img {
        width: 180px;
    }
}
